body {
  font-family: "Open-sans", "sans-serif";
}

h5 {
  font-family: "Lobster", "cursive";
}

.card-img-overlay h5 {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.new-line {white-space: pre-wrap;}
